auto_mix_prep
boto3
catboost
fastapi
fire
joblib
lightgbm
matplotlib
mlflow==2.22.0
mlflow_skinny
numpy
pandas
plotly
pydantic
pytest
python_dotenv
requests
scikit-learn==1.6.1
seaborn
xgboost
cffi==1.16.0
defusedxml==0.7.1
psutil==5.9.8